/* button search in dashboard component */
.ant-input-search-button {
    background-color: #ec6034 !important;
    height: 44px !important;
    width: 50px !important;
}

.ant-input-search-button:hover {
    background-color: #ec6034 !important;
    color: black !important;
}

/* now the input search */
.ant-input-affix-wrapper {
    padding: 10px !important;
}

.ant-input-outlined:hover {
    border-color: #FF9066;
}

.ant-input-outlined:focus-within {
    border-color: #FF9066;
}